<!DOCTYPE html>
<html>
    <head>
        <title>Project Designer</title>
        <meta charset="UTF-8">
        <meta name="description" content="Project Planner">
        <meta name="viewport" content="width=divice-width, initial-scale=1.0">
        <meta name="author" content="Daniel Blasczyk">


        <!--===== CSS ===== -->
        <link rel="stylesheet" href="assets/css/main.css">
    </head>

    <body>
        <header> 
            <h1>Project Designer</h1>
            <nav class="project_steps">
                <ul>
                    <li><a href="index.html">Overview</a></li>
                    <li><a href="design.html">Design</a></li>
                    <li><a href ="build.html">Build Plan</a></li>
                    <li><a href="log.html">Build Log</a></li>
                    <li><a href="learning.html">Learning</a></li>
                    <li><a href="testing.html">Testing</a></li>
                    <li><a href="write_up.html">Project Write-Up</a></li>
                    <li><a href="retrospective.html">Retrospective</a></li>
                    <li><a href="interview_prep.html">Interview Preparation</a></li>
                </ul>

            </nav>
        </header>

        <main>

        <!--===== Project Overview ===== -->
        <section>
            <h2>Overview</h2>
            <p>What is this project building?</p>
            <form method="post">
            <input type="text" name="Project Title" required>
            <br><br>
            <h2>Project Description</h2>
            <p> Give me a short one to two sentance description of you project.</p>
            <form method="post">
            <input type="text" name="Project Description" required>
            <br><br>
            <!-- Provide a way for -->
            <h2>Why this Project?</h2>
            <p>What capability am I trying to develop?</p>
            <form method="post">
            <input type="text" name="Why this Project?" required>
            <br><br>

            <input type="submit" value="Submit">
            </form>
            
        </section>

        <!--===== Project Overview ===== -->

        </main>


        <footer></footer>
    </body>
</html>