<!DOCTYPE html>
<html>

<body>
    <header> 
        <h1>Project Dashboard</h1>
        <nav>
            <div id="Menu">
                <ol>
                    <li class="active"><a href="#"> Project Dashboard</a></li>
                    <a href="{{ url_for('design', project_id=project['id']) }}">
                        Design
                    </a>
                    <li><a href="{{ url_for('build', project_id=project['id'])}}"> 
                        Build Plan</a></li>
                    <!-- <li><a href="{{ url_for('build', project_id=project['id'])}}">
                        Build Log</a></li>
                    <li><a href="{{ url_for('build_plan', project_id=project['id'])}}">
                         Learning</a></li>
                    <li><a href="{{ url_for('build_plan', project_id=project['id'])}}"> Testing</a></li>
                    <li><a href="{{ url_for('build_plan', project_id=project['id'])}}"> Final Architecture</a></li>
                    <li><a href="{{ url_for('build_plan', project_id=project['id'])}}"> Project Write-Up</a></li>
                    <li><a href="{{ url_for('build_plan', project_id=project['id'])}}"> Retrospection</a></li>
                    <li><a href="{{ url_for('build_plan', project_id=project['id'])}}"> Interview Prep</a></li>
                    <li><a href="{{ url_for('build_plan', project_id=project['id'])}}"> Portfolio / Resume Material</a></li> -->

                </ol>
            </div>
        </nav>
    </header>

    <main>
        <!-- Create a outline of what is done here, everything should be static
          on this page. We should Just see the basic outline of completed part. 
          Maybe a percent completion as well in the header.-->
    </main>
</body>
</html>